<div class="row">
  <div class="col-sm-8">
    <h1 class="text-center mt-5 mb-5">Rick And Morty Characters</h1>
  </div>
  <div class="col-sm-4 mt-5 mb-5"><app-search-form></app-search-form></div>
  <div class="row">
    <div class="col-sm-6">
      <p>Total Characters: {{ charactersInfo.count }}</p>
      <p>Current Page: {{ page }} / {{ charactersInfo.pages }}</p>
    </div>
    <div class="col-sm-6 d-flex justify-content-end">
      <button class="btn mb-5 me-3 previousPage" (click)="previousPage()">
        Previous Page
      </button>
      <button class="btn mb-5 nextPage" (click)="nextPage()">Next Page</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3" *ngFor="let character of characters">
    <app-character-card [character]="character"></app-character-card>
  </div>
</div>
